################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Elgamal_Algoritmi/v15/Server/sqlite3
